{% extends 'main.html' %}
{% block content %}
{% load static %}



	<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
	<div class="container">
		<div class="row">

			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>COMPLETE BREAKDOWN OF WEB DESIGN COST IN NIGERIA 2022</h2>
					<p>How much does it cost to design a website in Nigeria ? </p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->

			<div class="col-md-6">
				<center>The cost of creating a website can be divided into 4 basic catergories</center>

				<img src="{% static 'images/about/about-2.png' %}" class="img-fluid" alt="">
			</div>
			<div class="col-md-6">
				<ul class="checklist">
					<li>Domain Name</li>
					<li>Hosting Fee</li>
					<li> SSL Certificate</li>
					<li> Programmer's Fee</li>
					<li><h5>NB: SSL  Certicate is now a must for all browser and search engines. so if your website do not have this it will be marked unsercured
					which is not good for the reputation of your company therefore, it's now a must have feature</h5></li>
				</ul>
				<a href="#" class="btn btn-main mt-20">Learn More</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->



	<!-- Start Pricing section
		=========================================== -->

			<!-- end single pricing table -->


		</div> <!-- End row -->
	</div> <!-- End container -->
</section>
{% endblock %}