<div class="widget-post widget">
            <h2>Latest Post   jjj</h2>
            <!-- latest post -->
            <ul class="widget-post-list">
              <li class="widget-post-list-item">
                <div class="widget-post-image">
                  <a href="single-post.html">
                    <img src="images/blog/post-1.jpg" alt="post-img">
                  </a>
                </div>
                <div class="widget-post-content">
                  <a href="single-post.html">
                    <h5>Condentum Quam Vitae Ligu. tempor bibendum.</h5>
                  </a>
                  <h6>Aug 20, 2018</h6>
                </div>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- blog details part end -->
