{% load static %}

<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      <a class="navbar-brand logo" href="index.html">
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <li class="nav-item ">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'service' %}">Services</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'team' %}">Team</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'price' %}">Pricing</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="{% url 'blog' %}">blog</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>